.idea
PERLS.iml
*.log
build
.DS_Store
ARC3Scanner.xcodeproj/xcuserdata

ARC3Scanner.xcodeproj/project.xcworkspace/contents.xcworkspacedata

ARC3Scanner.xcodeproj/project.xcworkspace/xcuserdata/adam.xcuserdatad/UserInterfaceState.xcuserstate

ARC3Scanner.xcodeproj/project.xcworkspace/xcuserdata/overholt.xcuserdatad/UserInterfaceState.xcuserstate

ARC3Scanner.xcodeproj/project.xcworkspace/xcuserdata/overholt.xcuserdatad/WorkspaceSettings.xcsettings

ARC3Scanner/libTestFlight.a

*.mobileprovision
